.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 60%;
  max-height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden; 
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .chat-container {
    max-width: 100%;
    margin-top: 85px;
    border-top: 1px solid #3e7d44;
  }
}
.sender-name {
  font-weight: bold;
  font-size: larger;
  margin-bottom: 5px;
  background-color: #ffffff;
  color:#59b963;
  padding: 15px;
  position: relative;
}
.message-history {
  flex-grow: 1; 
  overflow-y: auto; 
  padding: 10px;
  box-sizing: border-box; 
  width: 100%; 
  max-width: 100%;
  overflow-x: hidden; 
  height: 100%; 
  ::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #e0e0e0;
}

scrollbar-width: thin;
scrollbar-color: white transparent;

}


.message-history p {
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px; 
  box-sizing: border-box;
  word-wrap: break-word;
}


.sender-message {


  background-color: #00c29e;
  color: #ffffff;
  word-spacing: -0.5px;
  float: right;
  clear: both;
  word-wrap: break-word;
  width: 40%;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
}

.other-message {
  
  background-color: #005C4B;
  color: #ffffff;
  word-spacing: -0.5px;
  float: left;
  clear: both;
  width: 40%;
  word-wrap: break-word;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
}

.chat-input {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  max-width: 100%;
  background-color: #ffffff;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #3e7d44;
  color: #3e7d44;
  font-size: 1rem;
  margin-right: 10px;
  box-sizing: border-box;
  max-width: 100%;
  background-color: transparent;
}

button {
  padding: 10px 20px;
  background-color: #3e7d44;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #59b963;
}

button:disabled {
  background-color: #dddddd;
  cursor: not-allowed;
}
.date-separator {
  text-align: center;
  margin: 10px 0;
  font-size: 0.9em;
  color: #bbb;
}

.server-message {



  color: #c5c5c5e9;
  word-spacing: -0.5px;

  float: center;
  clear: both;
  word-wrap: break-word;
  text-align: center;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 2px;
  border-radius: 5px;
}

